{deps, [
    {cuesport, ".*", {git, "https://github.com/esl/cuesport.git", "master"}},
    {pooler, ".*", {git, "https://github.com/seth/pooler.git", {tag, "1.5.2"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
    {revolver, ".*", {git, "https://github.com/silviucpp/revolver.git", "master"}}
]}.

{erl_opts, []}.