{erl_opts, [
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_export_all,
    warnings_as_errors
]}.

{project_plugins, [rebar3_hex]}.
{cover_enabled, false}.

{profiles, [
    {bench, [
        {src_dirs, ["src", "benchmark"]},
        {deps, [
            {cuesport, ".*", {git, "https://github.com/esl/cuesport.git", "master"}},
            {pooler, ".*", {git, "https://github.com/seth/pooler.git", "master"}},
            {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "master"}},
            {revolver, ".*", {git, "https://github.com/silviucpp/revolver.git", "master"}}
        ]}
    ]},
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.
